services:
  app:
    build:
      context: .
      dockerfile: docker/dev/Dockerfile
    container_name: next_landing_page
    ports:
      - "3000:3000"
    volumes:
      - .:/home/next/app
      - next-node-modules:/home/next/app/node_modules
    networks:
      - app-network
    environment:
      - NODE_ENV=development

volumes:
  next-node-modules:

networks:
  app-network:
    driver: bridge